.DS_Store
node_modules
/build
/.svelte-kit
/package
/.vscode/*
.vercel
.output
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.vscode
.idea
/static/edspace-post-pages
/static/edspace-post-pages/*
/static/edspace-profile-pictures
/static/edspace-profile-pictures/*